<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="unit">
            <file>tests/HttpTest.php</file>
            <file>tests/ComputeServiceTest.php</file>
            <file>tests/JobStatusTest.php</file>
        </testsuite>
        <testsuite name="integration">
            <file>tests/HttpClientTest.php</file>
            <file>tests/WebsocketClientTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
